/*.sdf
/x64
/Debug
/ipch
/.vs/libsvm.clr/v14/.suo
/Test/bin
/Test/obj
/libsvm.clr/Debug
/libsvm.clr/x64/Debug
/libsvm.clr/x64/Release
/libsvm.clr.opensdf
/Aardvark.SemanticTextonForests/obj
/packages/Aardvark.Base.1.1.14
/packages/DevILSharp.0.0.5
/packages/Newtonsoft.Json.6.0.8
/libsvm.clr.v12.suo
/packages/Aardvark.Base.1.2.0
/Aardvark.SemanticTextonForests/bin
/build
/nuget/*.nupkg
