*.sdf
/*.suo
/.vs
/src/packages
/src/build
/src/Aardvark.SemanticTextonForests/bin
/src/Aardvark.SemanticTextonForests/obj
/src/Test/bin
/src/Test/obj
/nuget/*.nupkg
/src/libsvm.clr/libsvm.clr.vcxproj.filters
/src/libsvm.clr/libsvm.clr.vcxproj.user
